<% provide(:title, 'Send confirmation email') %>
<h1>Send confirmation email</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag email_confirmations_path, :method => :post do %>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
      <%= submit_tag "Send Confirmation", class: "btn btn-large btn-primary" %>
  </div>
</div>
<% end %>